---
import BaseLayout from '../layouts/BaseLayout.astro';
---
 <BaseLayout>
<Fragment slot="head">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5FP79B56');</script>
<!-- End Google Tag Manager -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="refresh" content="0;url=/pescoluse">
<meta name="robots" content="noindex, follow">
<link rel="canonical" href="https://spiaggedelsalento.it/pescoluse">
<title>Maldive del Salento: Reindirizzamento a Pescoluse | Spiagge del Salento</title>
<meta name="description" content="Le Maldive del Salento si trovano a Pescoluse. Reindirizzamento alla pagina dedicata.">
</Fragment>
<p>Reindirizzamento a <a href="pescoluse">Pescoluse - Maldive del Salento</a>...</p>
<script>window.location.href = '/pescoluse';</script>
</BaseLayout>
 